{% extends "base.html" %}
{% block title %}
    Список продуктов
{% endblock %}
{% block style %}
    {% include "inc_style.html" %}
{% endblock %}
{% block menu %}
    {% include "inc_menu.html" %}
{% endblock %}
{% block body %}
    <div>
        <li>
            <a href="/buyer-list/">Список покупателей</a>
        </li>
        <li>
            <a href="/create-buyer/">Создать покупателя</a>
        </li>
    </div>
    <h1>Добавление продукт покупателю</h1>
    <form method="post">
        <select size="3" name="product_name">
            {% for item in products %}
                <option value="{{ item.name }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <select size="3" name="buyer_name">
            {% for item in buyers %}
                <option value="{{ item.name }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Записать</button>
    </form>
{% endblock %}