{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}
    <div id="main">
        <div id="header">
            <div id="logo">
                <div id="logo_text">
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1><a href="index.html">colour<span class="logo_colour">blue</span></a></h1>
                    <h2>Simple. Contemporary. Website Template. {{ datetime }}</h2>
                </div>
            </div>
            {% include "inc_menu.html" %}
        </div>
        <div>
            <a href="/create-shop/">Создать новый магазин</a>
        </div>
        <div>
            <h1>Список существующих магазинов</h1>
            {% for item in objects_list %}
                <li>
                    {{ item.name }} <span>Количество продуктов: {{ item.product_count() }}</span>
                    <a href="/product-list/?id={{ item.id }}">Показать продукт</a>
                </li>
            {% endfor %}
        </div>
        {% include "inc_footer.html" %}
    </div>
{% endblock %}